<table>
  <tr>
    <th>Coding Dojo Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% @dojos.each do |dojo| %>
  <tr>
    <td><%=dojo.branch%></td>
    <td><%=dojo.street%></td>
    <td><%=dojo.city%></td>
    <td><%=dojo.state%></td>
    <td>
      <a href='/show/<%= dojo.id %>'>Show</a> |
      <a href='/edit/<%= dojo.id %>'>Edit</a> |
      <a href='/destroy/<%= dojo.id %>'>Destroy</a>
    </td>
  </tr>
  <% end %>
</table>

<p><a href='/new'>New Dojo</a></p>
